body {
  font-family: 'Roboto', sans-serif;
  color: getColor(main-color);
  width: 100vw;

  @media screen and (min-width: $bp-laptop) {
    width: 100%;
  }
}

svg {
  transform-origin: center;
}
a,
address {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style: none;
}
.container {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $bp-laptop) {
    margin: 94px auto;
    width: 1170px;
  }

  & > ul {
    padding-left: 0;
    @media screen and (min-width: $bp-laptop) {
      display: flex;
      flex-direction: row;
      /*justify-content: space-evenly;*/
    }
    @media screen and (min-width: $bp-laptop) {
      justify-content: space-between;
    }
  }
}

.button {
  background: getColor('brand-color');
  border-radius: $border-radius-normal;
  border: none;
  color: getColor('white');
  font-weight: $font-bold;
  height: 50px;
  line-height: 30px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(47, 48, 58, 0.25);
  display: inline-block;

  &:hover,
  &:focus {
    color: getColor('main-color');
    cursor: pointer;
    transition: color $transition;
  }
}
