h1 {
  color: getColor('white');
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 119px;
  text-align: center;

  @media screen and (min-width: $bp-laptop) {
    font-size: 44px;
    padding-top: 200px;
  }
}
.list__wrap {
  @media screen and (max-width: $bp-laptop) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 0;
  }
}
.box__background-photo--big {
  margin: 0 auto;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header-mobile.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-mobile@2x.jpg');
  }

  @media screen and (min-width: $bp-tablet) {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: $bp-laptop) {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header.jpg');
    max-width: 1600px;
    height: 600px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header@2x.jpg');
    }
  }
}

@media screen and (min-width: $bp-laptop) {
  .container--no-margin {
    margin: 0 auto;
    padding-top: 94px;
  }
}

.background--light-gray {
  background: getColor(background-light-gray);
  padding-bottom: 30px;
  width: 100%;
}

.title {
  font-size: getFont(s);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

  &--white {
    color: getColor('white');
    margin: 0 0 20px 0;
  }
  &--padding-top {
    padding-top: 60px;
    @media screen and (min-width: $bp-laptop) {
      padding-top: 94px;
    }
  }
}

.container__title {
  font-size: getFont(container__title);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  @media screen and (min-width: $bp-laptop) {
    font-size: getFont(container__title--laptop);
    padding-bottom: 50px;
  }
}
.container__desktop--visible {
  display: none;
  @media screen and (min-width: $bp-laptop) {
    display: block;
  }
}
.list__icons--big {
  padding-left: 0;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
    justify-content: space-between;
  }

  & > li {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  & > li {
    @media screen and (min-width: $bp-laptop) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  & > li > .title {
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }
}

.icon--big {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: $bp-laptop) {
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
    height: 120px;
  }

  background-color: getColor(background-light-gray);
  display: block;
}

.icon-description {
  color: getColor(secondary-color);
  line-height: 1.7;
  margin: 0;
}

.list__companies {
  justify-content: space-between;
  display: flex;

  & > li {
    width: 100%;
  }

  & > li {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  & > li {
    @media screen and (min-width: $bp-laptop) {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}

.icon-company {
  border-radius: $border-radius-normal;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  width: 100%;

  &:hover,
  &:focus {
    border: 1px solid getColor(brand-color);
    fill: getColor(brand-color);
    transition: fill $transition;
  }
}

.photo-sticker--gray {
  background-color: rgba(47, 48, 58, 0.8);
  color: getColor('white');
  font-size: getFont(s);
  font-weight: 700;
  height: 70px;
  margin-top: 224px;
  padding-top: 27px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
}

.icon--white-background:hover,
.icon--white-background:focus {
  background-color: getColor(brand-color);
  fill: getColor('white');
  transition: background-color $transition, fill $transition;
}
.photo-card {
  align-items: center;
  background-color: getColor('white');
  border-radius: $border-radius-normal;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  text-align: center;
  margin: 0;
  width: 100%;
  @media screen and (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 46vw;
  }
  @media screen and (min-width: $bp-laptop) {
    width: 270px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }
  &__description {
    color: getColor(secondary-color);
    display: inline-block;
    line-height: 1.1;
    padding-top: 10px;
  }
  & > img {
    border-top-right-radius: $border-radius-normal;
    border-top-left-radius: $border-radius-normal;
    width: 100%;
    margin-bottom: 30px;
  }
  & > figcaption {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    margin: 0 auto;
    @media screen and (min-width: $bp-laptop) {
      padding-bottom: 30px;
    }
    @media screen and (min-width: $bp-tablet) {
      flex-direction: column;
      width: 100%;
    }
  }
}
